

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

    <!-- TODO: GOOGLE SYNTAX TO SEND DATA TO ADMIN_CONTROLLER -->
      <h1>EDIT Product</h1>

      <%= simple_form_for @product, :url => url_for(:action => 'create', :controller => 'admin_products'), :method => :post,  html: {class: 'form-horizontal'} do |f| %>
        <%= f.input :name, :input_html => {class: "form-control", placeholder: "Name" }, label: false %>
        <br>
        <%= f.input :description, :input_html => {class: "form-control", placeholder: "Description" }, label: false %>
        <br>
        <%= f.input :price, :input_html => {class: "form-control", placeholder: "Price" }, label: false %>
        <br>
        <%= f.input :photo, :input_html => { class: "form-control-file" } %>
        <%= f.input :photo_cache, as: :hidden %>
        <br>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
