<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Products
        </h1>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
          </li>
          <li class="active">
            <i class="fa fa-desktop"></i> Products
          </li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>All Products</h1>
      <ul>
        <% @products.each do |product| %>
        <li>
          <a href="/admin_products/<%= product.id %>">
            <%= product.name %>
            <%= product.description %>
            <%= product.price %>
            <p><%= link_to 'Destroy', admin_product_path(product),
            confirm: 'Are you sure?',
            method: :delete,
            :class => "btn btn-danger"%>
            </p>
             <p><%= link_to 'Edit', edit_admin_product_path(product),

            :class => "btn btn-primary"%></p>
          </a>
        </li>
        <% end %>
        <p><a href="/admin_products/new" class="btn btn-primary" role="button"> Add a new product! &raquo;</a> </p>
      </ul>
    </div>
  </div>
  <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
