<section class="banner-show" id="scene-banner-display">
  <div class="scene-banner" style="background-image: url('<%= cl_image_path @scene.banner.path %>'); background-size: 100%; background-repeat: no-repeat;">
  </div>

  <div class="button-positioner">
    <%= link_to "", scene_path(@previous_scene), class: "fa fa-angle-left fa-2x previous-button rotation-button" %>
    <%= link_to "", scene_path(@next_scene), class: "fa fa-angle-right fa-2x  next-button rotation-button" %>
  </div>
</section>
<!-- Popular Products -->
<section class="padding-top-50 padding-bottom-100" id="diminished-padding-response">
  <div class="container">
   <div id="description-title text-center">
    <p> <em> <%= @scene.description %> </em> <br>
    </p>
  </div>
  <!--======= PRODUCT DESCRIPTION =========-->
  <div class="item-decribe">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tags">PRODUCTS</a></li>
    </ul>
  </div>


  <!-- Tab panes -->
  <div class="tab-content animate fadeInUp" data-wow-delay="0.4s">
    <!-- DESCRIPTION -->
    <!-- TAGS -->
    <div role="tabpanel" class="tab-pane fade in active" id="tags">

      <div class="container">
        <!-- Popular Item Slide -->
        <div class="shop-items row">

          <% @scene.products.each do |product| %>

          <!-- Item -->
          <div class="col-xs-12 col-sm-6">
            <div class="item">
              <!-- Item Name -->
              <div class="item-name"> <a href="#."><%= product.name %></a>
<!--                 <p><%#= product.description %></p>
                <p> Added on <%#= product.created_at.strftime("%A, %b %d") %></p> -->
              </div>
              <!-- Item img -->
              <%= link_to product_path(product) do %>
              <div class="item-img">
                <img class="img-1" src=<%= cl_image_path product.photos.first.path unless product.photos.blank? %> style="width: 100%;" alt="">
                <div class="inn">
                  <a href="<%= product_path(product) %>"> Show <a href="#.">
                  </a>
                </div>
              </div>
              <% end %>
              <!-- Price -->
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

