<!--======= SUB BANNER =========-->
<section class="sub-bnr" data-stellar-background-ratio="0.5" style="background-image: url('<%= cl_image_path @scene.banner.path %>')"">
  <div class="position-center-center scene-banner-show">
  <div class="heading text-center">
    <h4><%= @scene.title %></h4>
  </div>
    <%= link_to "", scene_path(@previous_scene), class: "fa fa-arrow-left fa-3x previous-button rotation-button" %>
    <%= link_to "", scene_path(@next_scene), class: "fa fa-arrow-right fa-3x next-button rotation-button" %>
</div>
</section>

<!-- Popular Products -->
<section class="padding-top-100 padding-bottom-100">
  <div class="container">
       <div id="description-title text-center">
        <p> <em> <%= @scene.description %> </em> <br>
        </p>
        </div>
    <!--======= PRODUCT DESCRIPTION =========-->
    <div class="item-decribe">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tags">PRODUCTS</a></li>
      </ul>
    </div>


    <!-- Tab panes -->
    <div class="tab-content animate fadeInUp" data-wow-delay="0.4s">
      <!-- DESCRIPTION -->
      <!-- TAGS -->
      <div role="tabpanel" class="tab-pane fade in active" id="tags">

        <div class="container">
          <!-- Popular Item Slide -->
          <div class="shop-items row">

            <% @scene.products.each do |product| %>

            <!-- Item -->
            <div class="col-xs-12 col-sm-6" style="margin: 10px 0px;">
              <div class="item">
                <!-- Item Name -->
                <div class="item-name"> <a href="#."><%= product.name %></a>
                  <p> <%= product.description %></p>
                </div>
                <!-- Item img -->
                <%= link_to product_path(product) do %>
                <div class="item-img">
                  <img class="img-1" src=<%= cl_image_path product.photos.first.path unless product.photos.blank? %> alt="" style="width: 100%; height: 400px;">
                  <div class="inn">
                    <a href="<%= product_path(product) %>">
                      Show
                      <a href="#.">
                      </a>
                    </a>
                </div>
              </div>
              <% end %>
              <!-- Price -->
              <span class="price"><small>$</small><%= product.price %></span>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
