<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
         <% if @scene.banner? %>
          <%= cl_image_tag @scene.banner.path, width: 1000, height: 400, crop: :fill %>
          <% end %>
         <h1 class="page-header">
          <%= @scene.title %>
          <%= @scene.description %>
        </h1>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
       <% @scene.products.each do |product|%>
      <div class="col-xs-6 pull-left">
       <h2><%= product.name %></h2>
       <p><%= product.price %>€</p>
       <p><%= product.description %></p>
         <div class="buttons" style="display: flex;">
           <%= button_to "Remove product", remove_product_admin_scene_path(product), class: 'btn btn-danger', method: :delete, data: {confirm: "Are you sure?"} %>
           <%= link_to "Show", admin_product_path(product), class: 'btn btn-primary', rel: "nofollow", target: "_blank" %>
         </div>
      </div>
       <%end%>
      </div>
      <div class="col-sm-6 text-center ">
      <h4>
        Add a new product
      </h4>
        <%= simple_form_for @scene, :url => add_product_admin_scene_path, :method => :post,  html: {class: 'form-horizontal'} do |f| %>
          <%= f.input :products, collection: @products, label: false, input_html: { class: 'dropdown-form-scene-show'}  %>
          <%= f.submit 'Add Product', class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>




