<h1 hidden>Moussaillon | Furniture | Oak Table | Marble | Steel</h1>
 <section class="videoWrapper">
  <video playsinline autoplay muted loop poster="<%= image_path 'logo_black.svg' %>" id="bgvid">
      <source src="<%= video_path 'moussaillon_low.webm' %>" type="video/webm">
      <source src="<%= video_path 'moussaillon_low.mp4' %>" type="video/mp4">
  </video>
</section>

<!-- Knowledge Share -->
<section class="home-introduction">
  <div class="container">

    <!-- Main Heading -->
    <div class="heading text-center">
      <h4>
        YOUR PLACE
        <br>
        YOUR DIMENSIONS
        <br>
        OUR DESIGN
        <br>
      </h4>
      <p>
        MOUSSAILLON - FURNITURE MAKERS
      </p>
    </div>
        <div class="heading text-center latest-work">
        <h5>
          Our latest work
        </h5>
        </div>
    <div class="knowledge-share">
      <ul class="row">
        <div class="shop-items row">

          <% @latest_products.each_with_index do |product, index| %>

          <!-- Item -->
          <div class="col-xs-12 col-sm-6">
            <div class="item" id="<%= 'padding-top-0' if index == 0 %>">
              <!-- Item Name -->
              <div class="item-name" style="text-align: center !important;"> <a href="#." alt="moussaillon" ><%= product.name %></a>
<!--                 <p><%#= product.description %></p>
                <p> Added on <%#= product.created_at.strftime("%A, %b %d") %></p> -->
              </div>
              <!-- Item img -->
              <%= link_to product_path(product), rel: "nofollow", target: "_blank" do %>
              <div class="item-img">
                <img class="img-1" src=<%= cl_image_path product.photos.first.path  unless product.photos.blank? %> style="width: 100%;" alt="moussaillon">
                <div class="inn">
                  <a href="<%= product_path(product) %>" alt="moussaillon"> Show <a href="#." alt="moussaillon">
                  </a>
                </div>
              </div>
              <% end %>
              <!-- Price -->
            </div>
          </div>
          <% end %>


        </ul>
      </div>
    </div>
  </section>
