  <!--======= HOME MAIN SLIDER =========-->
  <section class="home-slider" style="height: 85vh;">

    <!-- SLIDE Start -->
    <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>
          <!-- SLIDE  -->
          <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
            <!-- MAIN IMAGE -->
            <img src="http://unsplash.it/1000/700"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="move-up">
              <div class="tp-caption font-playfair sfb tp-resizeme"
              data-x="left" data-hoffset="0"
              data-y="center" data-voffset="-200"
              data-speed="800"
              data-start="500"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="300"
              style="z-index: 7; font-size:18px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;"><%= "The Latest Scene by Ludo" %></div>
              <!-- LAYER NR. 2 -->
              <div class="tp-caption sfl font-extra-bold tp-resizeme"
              data-x="left" data-hoffset="0"
              data-y="center" data-voffset="-120"
              data-speed="800"
              data-start="800"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.07"
              data-endelementdelay="0.1"
              data-endspeed="300"
              style="z-index: 6; font-size:80px; color:#2d3a4b; text-transform:uppercase; white-space: nowrap;"></div>
            </div>
              <!-- LAYER NR. 2 -->

            <div class="move-up" style="position: absolute; top: 0;">
              <div class="tp-caption sfr font-extra-bold tp-resizeme"
              data-x="left" data-hoffset="0"
              data-y="center" data-voffset="0"
              data-speed="800"
              data-start="800"
              data-easing="Power3.easeInOut"
              data-splitin="chars"
              data-splitout="none"
              data-elementdelay="0.07"
              data-endelementdelay="0.1"
              data-endspeed="300"
              style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;"><%= "Featured" %> </div>
              <!-- LAYER NR. 2 -->
              <div class="tp-caption sfr font-extra-bold tp-resizeme"
              data-x="left" data-hoffset="0"
              data-y="center" data-voffset="110"
              data-speed="800"
              data-start="1300"
              data-easing="Power3.easeInOut"
              data-splitin="chars"
              data-splitout="none"
              data-elementdelay="0.07"
              data-endelementdelay="0.1"
              data-endspeed="300"
              style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;"><%= "Scene" %> </div>
            </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption lfb tp-resizeme"
            data-x="left" data-hoffset="0"
            data-y="center" data-voffset="240"
            data-speed="800"
            data-start="2200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            data-scrolloffset="0"
            style="z-index: 8;"><%= link_to "Latest Scene", scene_path(Scene.last), class: "btn" if Scene.last %> </div>
          </li>

          <!-- SLIDE  -->
          <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
            <!-- MAIN IMAGE -->
            <img src="https://unsplash.it/1000/600"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption font-playfair sfb tp-resizeme"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-150"
            data-speed="800"
            data-start="500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 7; font-size:18px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;"><%= "The Latest Product from ecoshop" %></div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfr font-regular tp-resizeme letter-space-4"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-50"
            data-speed="800"
            data-start="800"
            data-easing="Power3.easeInOut"
            data-splitin="chars"
            data-splitout="none"
            data-elementdelay="0.07"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 6; font-size:78px; color:#fff; text-transform:uppercase; white-space: nowrap;"><%= "have beautiful"  %></div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="60"
            data-speed="800"
            data-start="1300"
            data-easing="Power3.easeInOut"
            data-splitin="chars"
            data-splitout="none"
            data-elementdelay="0.07"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 6; font-size:140px; color:#fff; text-transform:uppercase; white-space: nowrap;"><%= "furniture"  %></div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption sfb font-extra-bold tp-resizeme"
            data-x="center" data-hoffset="120"
            data-y="center" data-voffset="200"
            data-speed="800"
            data-start="2200"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.07"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 6; font-size:60px; color:#fff; text-transform:uppercase; white-space: nowrap;"></div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption lfb tp-scrollbelowslider tp-resizeme"
            data-x="center" data-hoffset="-120"
            data-y="center" data-voffset="200"
            data-speed="800"
            data-start="2200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            data-scrolloffset="0"
            style="z-index: 8;"><%= link_to "Lastest Product", product_path(Product.last), class: "btn" if Product.last%> </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Knowledge Share -->
  <section class="light-gray-bg padding-top-150 padding-bottom-150">
    <div class="container">

      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>Moussaillon</h4>
        <span>Something about my amazing wood carving techniques</span> </div>
        <div class="knowledge-share">
          <ul class="row">

            <!-- Post 1 -->
            <li class="col-md-6">
              <div class="date">
               <span>
                 Ludo
               </span>
               <span class="huge">

               </span>
             </div>
             <a href="#.">
              Wood Table
            </a>
            <p>
              What about your latest work here
            </p>
            <span>
              By
              <strong>
                Ludo
              </strong>
            </span>
          </li>

          <!-- Post 2 -->
          <li class="col-md-6">
            <div class="date">
             <span>
               Ludo
             </span>
             <span class="huge">
             </span>
           </div>
           <a href="#.">
            Wood Table
          </a>
          <p>
            What about your latest work here
          </p>
          <span>
            By
            <strong>
              Ludo
            </strong>
          </span>
        </li>

      </ul>
    </div>
  </div>
</section>

