  <!--======= HOME MAIN SLIDER =========-->
  <section class="home-slider" style="height: 85vh;">

    <!-- SLIDE Start -->
    <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>
          <!-- SLIDE  -->
          <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
            <!-- MAIN IMAGE -->
            <img src="http://unsplash.it/1000/700"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="move-up">
              <div class="tp-caption font-playfair sfb tp-resizeme"
              data-x="left" data-hoffset="0"
              data-y="center" data-voffset="-200"
              data-speed="800"
              data-start="500"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="300"
              style="z-index: 7; font-size:18px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;"><%= "by Ludo" %></div>
            </div>
              <!-- LAYER NR. 2 -->

            <div class="move-up" style="position: absolute; top: 0;">
              <div class="tp-caption sfr font-extra-bold tp-resizeme"
              data-x="left" data-hoffset="0"
              data-y="center" data-voffset="-100"
              data-speed="800"
              data-start="800"
              data-easing="Power3.easeInOut"
              data-splitin="chars"
              data-splitout="none"
              data-elementdelay="0.07"
              data-endelementdelay="0.1"
              data-endspeed="300"
              style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;"><%= "Featured Scene" %> </div>
              <!-- LAYER NR. 2 -->
              <div class="tp-caption sfr font-extra-bold tp-resizeme"
              data-x="left" data-hoffset="100"
              data-y="center" data-voffset="0"
              data-speed="800"
              data-start="1300"
              data-easing="Power3.easeInOut"
              data-splitin="chars"
              data-splitout="none"
              data-elementdelay="0.07"
              data-endelementdelay="0.1"
              data-endspeed="300"
              style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;"><%= "" %> </div>
            </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption lfb tp-resizeme"
            data-x="left" data-hoffset="0"
            data-y="center" data-voffset="0"
            data-speed="800"
            data-start="2200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            data-scrolloffset="0"
            style="z-index: 8;"><%= link_to "Latest Scene", scene_path(Scene.last), class: "btn-opague" if Scene.last %> </div>
          </li>

          <!-- SLIDE  -->
          <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
            <!-- MAIN IMAGE -->
            <img src="https://unsplash.it/1000/600"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption font-playfair sfb tp-resizeme"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-250"
            data-speed="800"
            data-start="500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 7; font-size:18px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;"><%= "The Latest Products from ecoshop" %></div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfr font-regular tp-resizeme letter-space-4"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-170"
            data-speed="800"
            data-start="800"
            data-easing="Power3.easeInOut"
            data-splitin="chars"
            data-splitout="none"
            data-elementdelay="0.07"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 6; font-size:78px; color:#fff; text-transform:uppercase; white-space: nowrap;"><%= "have beautiful"  %></div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-80"
            data-speed="800"
            data-start="1300"
            data-easing="Power3.easeInOut"
            data-splitin="chars"
            data-splitout="none"
            data-elementdelay="0.07"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 6; font-size:140px; color:#fff; text-transform:uppercase; white-space: nowrap;"><%= "furniture"  %></div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption sfb font-extra-bold tp-resizeme"
            data-x="center" data-hoffset="120"
            data-y="center" data-voffset="200"
            data-speed="800"
            data-start="2200"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.07"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 6; font-size:60px; color:#fff; text-transform:uppercase; white-space: nowrap;"></div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption lfb tp-scrollbelowslider tp-resizeme"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="0"
            data-speed="800"
            data-start="2200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            data-scrolloffset="0"
            style="z-index: 8;"><%= link_to "Lastest Product", product_path(Product.last), class: "btn-opague" if Product.last %> </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Knowledge Share -->
  <section class="light-gray-bg padding-top-150 padding-bottom-150">
    <div class="container">

      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>Moussaillon</h4>
        <span>Something about my amazing wood carving techniques</span>
      </div>
        <div class="knowledge-share">
          <ul class="row">
            <div class="shop-items row">

        <% @latest_products.each do |product| %>

        <!-- Item -->
        <div class="col-xs-12 col-sm-6">
          <div class="item">
            <!-- Item Name -->
            <div class="item-name"> <a href="#."><%= product.name %></a>
              <p><%= product.description %></p>
              <p> Added on <%= product.created_at.strftime("%A, %b %d") %></p>
            </div>
            <!-- Item img -->
            <%= link_to product_path(product) do %>
            <div class="item-img">
              <img class="img-1" src=<%= cl_image_path product.photos.first.path unless product.photos.blank? %> alt="" style="width: 100%; height: 400px;">
              <div class="inn">
                <a href="<%= product_path(product) %>"> Show <a href="#.">
              </a>
            </div>
          </div>
          <% end %>
          <!-- Price -->
          <span class="price"><small>€</small><%= product.price %></span>
        </div>
      </div>
      <% end %>


      </ul>
    </div>
  </div>
</section>

