
<!-- PRODUCTS that used to be in the homepage -->

    <div class="knowledge-share">
      <ul class="row">
        <div class="shop-items row">

          <% @latest_products.each_with_index do |product, index| %>

          <!-- Item -->
          <div class="col-xs-12 col-sm-6">
            <div class="item" id="<%= 'padding-top-0' if index == 0 %>">
              <!-- Item Name -->
              <div class="item-name" style="text-align: center !important;"> <a href="#." ><%= product.name %></a>
<!--                 <p><%#= product.description %></p>
                <p> Added on <%#= product.created_at.strftime("%A, %b %d") %></p> -->
              </div>
              <!-- Item img -->
              <%= link_to product_path(product) do %>
              <div class="item-img">
                <img class="img-1" src=<%= cl_image_path product.photos.first.path unless product.photos.blank? %> style="width: 100%;" alt="">
                <div class="inn">
                  <a href="<%= product_path(product) %>"> Show <a href="#.">
                  </a>
                </div>
              </div>
              <% end %>
              <!-- Price -->
            </div>
          </div>
          <% end %>
        </ul>
      </div>






<!-- last products -->

<%# @rubyhash["data"][0]["carousel_media"][0].each do |array| %>
    <%#= array.count %>
<%# end %>
<!-- <div id="instafeed"></dirv>
<script src="instafeed.min.js"></script>
<script type="text/javascript">

  var userFeed = new Instafeed({
    get: 'user',
    userId: 3317896663,
    clientId: '4c3b64b46b5f4555875bca1b0677da10',
    accessToken: '3317896663.4c3b64b.b4e278d37aef4969b0d2a084380cd7d3',
    sortBy: 'most-recent'
  });

  userFeed.run();
</script> -->
<!-- "access_token": "3317896663.4c3b64b.b4e278d37aef4969b0d2a084380cd7d3" -->

<!-- 86e79abb06674da2a2aa6525ba708730 -->
<!-- http://localhost:3000/?code=86e79abb06674da2a2aa6525ba708730 -->

<!-- https://www.instagram.com/oauth/authorize/?client_id=4c3b64b46b5f4555875bca1b0677da10&redirect_uri=http://localhost:3000/&response_type=code
 -->

<!-- accessToken = 'fb2b5b9c8f7b495f9797725bea68ccc0' -->

<!-- http://localhost:3000/?code=fb2b5b9c8f7b495f9797725bea68ccc0 -->


   <!--  curl -F 'client_id=4c3b64b46b5f4555875bca1b0677da10' \
    -F 'client_secret= ed954fc107394872bf0a3697e20835d4' \
    -F 'grant_type=authorization_code' \
    -F 'redirect_uri=http://localhost:3000/' \
    -F 'code=86e79abb06674da2a2aa6525ba708730' \
    https://api.instagram.com/oauth/access_token -->
