  <h4 class="text-center" style="padding-top: 10px">They talked about us</h4>
  <div class="container" style="height:100vh; margin: 40px auto">
    <div class="row">
      <div class='col-xs-12 col-sm-4' style="padding: 10px">
       <h5> <%= link_to "Moussaillon : entre exigences du design et valeurs de l'artisanat", 'https://www.decoidees.be/moussaillon-design-artisanat/'  %></h5>
      </div>
      <div class='col-xs-12 col-sm-4' style="padding: 10px">
        <h5><%= link_to 'Coup de Coeur  : Moussaillon, du mobilier belge sur mesure et abordable', 'https://www.flair.be/fr/lifestyle/coup-de-coeur-moussaillon-du-mobilier-belge-sur-mesure-et-abordable/' %></h5>
      </div>
      <div class='col-xs-12 col-sm-4' style="padding: 10px">
        <h5><%= link_to 'Découvrez la start-up Moussaillon qui lance sa première ligne de mobilier artisanal !', 'https://www.rtbf.be/vivacite/emissions/detail_vivre-ici-namur-bw-luxembourg/accueil/article_decouvrez-la-start-up-moussaillon-qui-lance-sa-premiere-ligne-de-mobilier-artisanal?id=9944112&programId=5323' %></h5>
      </div>

      <div class='col-xs-12 col-sm-4' style="padding: 10px">
        <h5><%= link_to "Dit is Belgisch ! Hout + Staal", asset_path("pdf1.pdf"), target: "_blank" %></h5>
      </div>

      <div class='col-xs-12 col-sm-4' style="padding: 10px">
        <h5><%= link_to "Une nouvelle marque belge", asset_path("pdf2.pdf"), target: "_blank" %></h5>
      </div>


       <div class='col-xs-12 col-sm-4' style="padding: 10px">
        <h5><%= link_to "Moussaillon a mis le cap sur le
mobilier design et fonctionnel", asset_path("pdf3.pdf"), target: "_blank" %></h5>
      </div>

       <div class='col-xs-12 col-sm-4' style="padding: 10px">
        <h5><%= link_to "Sous pavillon belge", asset_path("pdf4.pdf"), target: "_blank" %></h5>
      </div>
    </div>
  </div>
