<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
             <div class="col-sm-3">
             <div class="col-sm-3">
              <% @product.photos.each do |photo| %>
              <img width="200" height="200" style="text-center" <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
              <% end %>
              </div>
            </div>
        </div>
      </div>



      <div class="col-sm-6">
        <div class="card">
          <div class= "card-description">
            <h2><%= @product.name %></h2>
            <h2><%= @product.price %>€</h2>
            <p><%= @product.description %></p>
            <p><%= @product.category %></p>

            <%= link_to 'Edit', edit_admin_product_path(@product),
              :class => "btn btn-primary"%>
            <%= link_to 'Destroy', admin_product_path(@product),
              confirm: 'Are you sure?',
              method: :delete,
              :class => "btn btn-danger"%>
          </div>
        </div>
      </div>
</div>

