<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
             <div class="col-sm-3">
             <div class="col-sm-3">
              <% @product.photos.each do |photo| %>
              <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill, class: "photo-admin-box" %>
              <% end %>
              </div>
            </div>
        </div>
      </div>



  <div class="col-sm-6">
    <div class="card">
      <div class= "card-description">
        <h2>Name: <%= @product.name %></h2>
        <h2>Price: <%= @product.price %>€</h2>
         <h2> Category:  <%= @product.category %> </h2>
         <h2> Material:  <%= @product.material %> </h2>
        <i>
          <p><%= @product.description %></p>
        </i>
        <%= link_to 'Edit', edit_admin_product_path(@product),
          :class => "btn btn-primary", rel: "nofollow", target: "_blank"%>
        <%= link_to 'Destroy', admin_product_path(@product),
          confirm: 'Are you sure?',
          method: :delete,
          :class => "btn btn-danger", rel: "nofollow", target: "_blank"%>
      </div>
    </div>
  </div>
</div>



