<div class="side-bar-nav">
  <%= link_to 'All', collection_path, id: 'all' %>
  <%= link_to 'Sleep', collection_path(type: "sleep"), id: 'sleep' %>
  <%= link_to 'Eat', collection_path(type: "eat"), id: 'eat' %>
  <%= link_to 'Live', collection_path(type: "live" ), id: 'live' %>
  <%= link_to 'Cook', collection_path(type: "cook" ), id: 'cook' %>
  <%= link_to 'Sit', collection_path(type: "sit" ), id: 'sit' %>
</div>
 <!-- Popular Products -->
 <section id="shop-page" class="shop-page padding-top-50 padding-bottom-200" style="padding-right: 80px">
  <div class="container">
    <div class="item-display">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center" style="margin-left: 40px;">
            <h2>
            <%= @info_title %>
            </h2>
          </div>
        </div>
        <div class="col-xs-6">
          <span class="product-num">
            Showing 1 - of <%= @products.count %> products
          </span>
        </div>

        <!-- Products Select -->
      </div>

      <!-- Popular Item Slide -->

      <ul class="row">
        <div class="shop-items row">

          <% @products.each do |product| %>

          <!-- Item -->
          <div class="col-xs-12 col-sm-6">
            <div class="item" style="height: 750px;">
              <!-- Item Name -->
              <div class="item-name"> <a href="#."><%= product.name %></a>
<!--                 <p><%#= product.description %></p>
                <p> Added on <%#= product.created_at.strftime("%A, %b %d") %></p> -->
              </div>
              <!-- Item img -->
              <%= link_to product_path(product) do %>
              <div class="item-img">
                <img class="img-1" src=<%= cl_image_path product.photos.first.path unless product.photos.blank? %> alt="" style="width: 100%; max-height: 700px;">
                <div class="inn">
                  <a href="<%= product_path(product) %>"> Show <a href="#.">
                  </a>
                </div>
              </div>
              <% end %>
              <!-- Price -->
            </div>
          </div>
          <% end %>

          </div>
        </ul>
    </div>
  </div>
</section>


<% content_for(:after_js) do %>
  <script>
    $("#<%= @query %>").addClass('nav-active');
  </script>
<% end %>
