 <!-- Popular Products -->
 <section class="shop-page padding-top-100 padding-bottom-200">
  <div class="container">
    <div class="item-display">

      <div class="row">
        <div class="col-xs-12">
          <div class="pull-left">
            <h2>
            <%= @info_title %>
            </h2>
          </div>
        </div>
        <div class="col-xs-6">
          <span class="product-num">
            Showing 1 - of <%= @products.count %> products
          </span>
        </div>

        <!-- Products Select -->
        <div class="col-xs-6">
          <div class="pull-right">

            <!-- Short By -->
            <select name="categories" class="selectpicker" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
              <option value="" selected disabled hidden>Category</option>
              <option value="/collection"><%= link_to 'All', collection_path %></option>
              <option value="/collection?type=couch"><%= link_to 'Couches', collection_path(type: "couch") %></option>
              <option value="/collection?type=bar"><%= link_to 'Bars', collection_path(type: "bar") %></option>
              <option value="/collection?type=table"><%= link_to 'Tables', collection_path(type: "table" ) %></option>
              <option value="/collection?type=chair"><%= link_to 'Chairs', collection_path(type: "chair" ) %></option>
            </select>

            <!-- Filter By maybe later!-->
<!--             <select class="selectpicker" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
              <option value="" selected disabled hidden>Options</option>
              <option value="/collection">Newest</option>
              <option value="/collection">Price: High to Low</option>
              <option value="/collection">Price: Low to High</option>
            </select> -->
            <!-- GRID & LIST -->
          </div>
        </div>
      </div>

      <!-- Popular Item Slide -->

      <div class="shop-items row">

        <% @products.each do |product| %>

        <!-- Item -->
        <div class="col-md-6">
          <div class="item">
            <!-- Item Name -->
            <div class="item-name"> <a href="#."><%= product.name %></a>
              <p><%= product.description %></p>
            </div>
            <!-- Item img -->
            <%= link_to product_path(product) do %>
            <div class="item-img">
              <img class="img-1" src=<%= product.photo unless product.photo.blank? %> alt="" style="width: 100%; height: 400px;">
              <div class="inn">
                <a href="https://unsplash.it/200/300" data-lighter> See more <a href="#.">
                  <i class="icon-basket">
                  </i>
                </a>
                <a href="#." >
                  <i class="icon-heart">
                  </i>
                </a>
              </a>
            </div>
          </div>
          <% end %>
          <!-- Price -->
          <span class="price"><small>$</small><%= product.price %></span>
        </div>
      </div>
      <% end %>

      <!-- Pagination -->
<!--         <ul class="pagination in-center">
          <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul> -->

      </div>
    </div>
  </div>
</section>

