
<!DOCTYPE html>
<html>
<head>
  <!-- FAVICON -->
<!-- TODO FAVICON -->

<!-- METADATA -->
  <meta name="theme-color" content="#ffffff">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Moussaillon makers - Furniture">

  <title>Moussaillon</title>

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>

  <script src="https://use.fontawesome.com/e267d1bbe0.js"></script>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <%= render 'layouts/loader.html.erb' %>
  <div id="wrap">
    <%= render 'layouts/header.html.erb' %>
    <%= yield %>
    <%= render 'layouts/footer.html.erb' %>
  </div>


  <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_MAP_API']}" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield(:after_js) %>
  <%= cloudinary_js_config %>
</body>
</html>
